# Logging configuration
# LOG_LEVEL can be: fatal, error, warn, info, debug, trace
LOG_LEVEL=debug

# Clerk Authentication
# Get these from https://dashboard.clerk.com/last-active?path=api-keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=YOUR_PUBLISHABLE_KEY
CLERK_SECRET_KEY=YOUR_SECRET_KEY

# Sigh In URLs
NEXT_PUBLIC_CLERK_SIGN_IN_URL=YOUR_SIGN_IN_URL
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=YOUR_FALLBACK_REDIRECT_URL

# Sign Up URLs
NEXT_PUBLIC_CLERK_SIGN_UP_URL=YOUR_SIGN_UP_URL
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=YOUR_FALLBACK_REDIRECT_URL
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=YOUR_FORCE_REDIRECT_URL

# Firebase Admin SDK (for server-side operations)
FIREBASE_PROJECT_ID=YOUR_PROJECT_ID
FIREBASE_CLIENT_EMAIL=YOUR_CLIENT_EMAIL
FIREBASE_PRIVATE_KEY=YOUR_PRIVATE_KEY